.rs {
  color: white;
  background-color: #001030;
  position: relative;
  height: 100%;
  overflow-y: scroll;
}
.rs-profile {
  padding-top: 60px;
  text-align: center;
  max-width: 70%;
  margin: auto;
}
.rs-profile img {
  width: 110px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.rs-profile h3 {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 5px 0px;
}
.rs-profile p {
  font-size: 10px;
  opacity: 80%;
  font-weight: 300;
}

.rs hr {
  border-color: #ffffff50;
  margin: 15px 0px;
}

.rs button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #077eff;
  color: white;
  border: none;
  font-size: 12px;
  font-weight: 10px 65px;
  padding: 10px 65px;
  border-radius: 20px;
  cursor: pointer;
}
