.chat {
  min-height: 100vh;
  background: linear-gradient(#566aff, #383699);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.chat-container {
  width: 100vw;
  height: 100vh;
  max-width: none;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
