.login {
  min-height: 100vh;
  background: url(/background.png);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.login.logo {
  width: max(20vw, 200px);
}
.login-form {
  background: white;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}
.login-form h2 {
  font-weight: 500;
}
.form-input {
  padding: 8px 10px;
  border: 1px soild #c9c9c9;
  border-radius: 4px;
  outline-color: #077eff;
}
.login-form button {
  padding: 10px;
  background-color: #077eff;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.login-term {
  display: flex;
  gap: 5px;
  font-size: 12px;
  color: #808080;
}
.login-forget {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-toggle {
  font-size: 13px;
  color: #5c5c5c;
}
.login-toggle span {
  font-weight: 500;
  color: #077eff;
  cursor: pointer;
}
